<h3 id="linux">Linux</h3>
<p>
Please go through all the installation steps below and make sure that
you not only installed them, but start them up to make sure they're working.
If you have any problems, don't hesitate to email the instructors to
ask for help, or arrive early on the first day of the workshop to
get help.
<div class="row-fluid">
<ol>
  <li><b>R</b>
    <br>In the workshop, we will use RStudio. RStudio is a nice interface to the
    programming language R. To use RStudio, you need to install both R and RStudio.
    <ul>
      <li>Follow the instructions for your distribution
	from <a href="https://cloud.r-project.org/bin/linux/">CRAN</a>. For most distributions, you
	can use your package manager (e.g. for Debian/Ubuntu run <code>sudo
	apt-get install r-base</code>, and for Fedora run <code>sudo yum install
	R</code>) but make sure that you have at least R 3.2.2 (as pre-packaged
	versions might be out of date).
      <li>To install RStudio, go to
	the <a href="http://www.rstudio.com/ide/download/desktop">RStudio Download
	  page</a>
      <li>Under <i>Installers</i> select the version for your distribution.
      <li>Once it's downloaded, double click the file to install it (or <code>sudo dpkg
	  -i rstudio-x.yy.zzz-amd64.deb</code> at the terminal).
      <li>Once it's installed, open RStudio to make sure it works and you don't get any error messages.
    </ul>

<p>

  <li><b>FTP Client (Filezilla)</b>
    <br>
    An FTP client will help you transfer files easily between your computer and the cloud.
    <ul>
      <li>Go to the <a href="https://filezilla-project.org/download.php?show_all=1">Filezilla download page</a>
      <li>Chose the download link appropriate to your system
      <li>To use it, double-click on the downloaded file
      <li>Follow any installation instructions, if any
      <li>At the workshop we will give you additional information (e.g. host, username, port) to connect
    </ul>
<p>

  <li><b>IGV</b>
    <br>
  If time permits, we will use The Broad Institute's IGV (Integrated Genome Viewer) for looking at SAM and BAM files, SNPs, and variant calls.	  
    <ul>
      <li>To download IGV, please visit <a href="https://www.broadinstitute.org/software/igv/log-in"> this page</a> and log in
      <li>Click on the large button for the Download Binary Distribution
      <li>Find the zip archive on your computer and expand it
      <li>To run IGV, double-click on the IGV.bat file. 
	  </ul>
<p>

</ol>
</div>
